html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body{
    background-color: #FFEFD5 ;
    color: #8B4513 ;
    margin: auto;
}

#fejlec{
    background-image: url("MicrosoftTeams-image\ \(3\).png");
    color: black;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 35px;
    background-size: cover;
    margin-left: 140px;
    margin-right: 140px;
}

header{
    margin-left: 20px
}

header h1{
    font-weight: bold;
}

li{
    border: 1px solid lightblue;
    background-color: whitesmoke;
    font-weight: bold;
    padding-bottom: 3px;
    padding-left: 3px;
    text-decoration: none;
    margin-left: 40px;
}

table, th{
    margin: auto;
    text-align: center;
    border: 1px solid gray;
    border-collapse: collapse;
    height: 40px;
    padding-bottom: 5px;
}

td{
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: left;
    padding-left: 5px;
    padding-top: 10px;
}

.jobb{
    width: 120px;
}

.menu{
    margin-top: 30px;
    margin-left: 150px;
    text-decoration: none;
}

.menu h2{
    font-size: 25px;
    font-weight: bold;
}

#tartalom{
    margin-top: 30px;
    float: right;
    margin-right: 100px;
}

#tartalom h2{
    font-size: 25px;
    font-weight: bold;
}

table th{
    font-weight: bold;
}

.topnav {
    position: relative;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    color: black;
    padding: 1px 1px 1px 1px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin: auto;
}
  
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
}

.topnav a:hover {
    color: black;
}
  
.active {
    background-color: #FFEFD5;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 700px) {
    .hamburger{display: none;}
}

@media screen and (max-width: 700px) {
    .menu{display: none;}
}