body{
    background-color: #FFEFD5 ;
    color: #8B4513 ;
}

h1{
    background-image: url("MicrosoftTeams-image\ \(3\).png");
    height: 50px;
}

table, th{
    width: 300px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.jobb{
    width: 120px;
}

#zöld{
    background-color: greenyellow;
}

#sárga{
    background-color: yellow;
}

#piros{
    background-color: red;
}

#lila{
    background-color: magenta;
}

a{
    text-decoration: none;
    color: black;
}