body{
    background-color: #FFEFD5 ;
    color: #8B4513 ;
}

h1{
    background-image: url("MicrosoftTeams-image.png");
    color: white;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    padding: 30px;
    font-size: 35px;
}

table, th{
    width: 300px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.jobb{
    width: 120px;
}

a{
    text-decoration: none;
    color: black;
}

nav ul{
    list-style-type: none;
    padding-left: 40px;
}

nav{
    float: left;
    width: 30%;
    padding: 20px;
}

article{
    padding: 0px;
    width: 700px; 
}